

#experience{
   
    height: 100%;
}
.ex-details{
    display: flex;
    position: relative;
    height: 100%;
}
.job-timeline{
    width: 2px;
    height: 100%;
    background: var(--light-navy-bg);
    position: absolute;
}
.job-info{
    margin-left: 50px;
}

.ex-header{
    margin-bottom: 20px;
    h5{
        color: var(--white-crl);
        font-size: clamp(16px, 5vw, 18px);
    }
    a{
        color: var(--green-crl);
        font-size: clamp(16px, 5vw, 18px);
    }
    p{
        margin-top: 10px;
        font-size: clamp(13px, 5vw,15px);
    }
}

.ex-info{

    ul{
        li{
            position: relative;
            p{
                display: flex;
                align-items: flex-start;
                max-width: 70%;
                font-size: clamp(14px, 5vw , 16px);
                margin-bottom: 10px;
                margin-left: 20px;
        }
        .p-icon{
            position: absolute;
            color: var(--green-crl);
            left: 0;
        }
        }
    }
}


@media screen and (max-width: 768px) {
    #experience{
        margin-top: 290px;
    }
    .ex-info ul li p {
        max-width: 100%;
    }
}
@media screen and (max-width: 450px) {
    .job-info {
        margin-left: 30px;
    }
}
