.menutab {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 150;
  ul {
    display: flex;
    background-color: var(--text-bg-green-tint);
    backdrop-filter: blur(5px);
    justify-content: space-between;
    align-items: center;
    width: 300px;
    border-radius: 50px;
    padding: 20px 40px;

    li {
      a {
        font-size: var(--fs-me);
        transition: all 0.2s ease-out;
        &:hover {
          background: var(--text-green-color);
          color: var(--bg-color);
          padding: 6px 9px 2px 9px;
          min-width: 10px;
          border-radius: 50px;
          text-align: center;
        }
      }
    }
  }
}
@media (max-width: 800px) {
    .menutab {
        display: none;
    }
}

@media (max-height: 500px) {
    .menutab {
        display: none;
    }
}


